{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Page</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/ranks.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>

    <!-- Ranking Section -->
    <div class="ranking-section">
        <h1>Ranking</h1>
        <div class="ranking-list">
            {% for rank_user in users %}
                <div class="ranking-item first-place">
                    <div class="rank">
                        1st
                    </div>
                    <div class="user-info">
                        <p class="user-name">{{ rank_user.user.username }}</p>
                        <p class="user-score">Score: {{ rank_user.overall }}</p>
                    </div>
                </div>
            {% endfor %}
            
            <a class="learn-more" href="{% url 'home' %}">Back</a>
        </div>
    </div>

</body>
</html>
