/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    background-color: #2e3a59;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar .logo-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.navbar .logo-container .logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.navbar .menu-toggle {
    display: none;
    font-size: 1.8em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar .nav-links {
    display: flex;
    gap: 1.5em;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    position: relative;
}

.navbar .nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: center center;
    transition: width 0.4s ease, transform 0.3s ease;
}

.navbar .nav-links a:hover::after {
    width: 50%; /* The underline width */
    transform: translateX(-50%) scaleY(1); /* Make it appear with a slight "drop" effect */
}


/* Mobile View Navbar */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 2em;
        flex-wrap: wrap;
        position: relative;
    }
    
    .navbar .menu-toggle {
        display: block;
        font-size: 2em;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 10px;
        z-index: 100;
    }

    .navbar .logo-container {
        flex-grow: 1;
    }

    .navbar .logo-container img {
        width: 50px;
        height: 50px;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #2e3a59;
        width: 100%;
        border-radius: 10px 10px 0 0;
        padding: 1em;
        z-index: 50;
        max-height: 80vh; /* Limit height to prevent overflow */
        overflow-y: auto; /* Make it scrollable if needed */
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .navbar .nav-links a {
        padding: 1em;
        text-align: left;
        color: #fff;
        text-decoration: none;
    }
}


/* Footer */
footer {
    background-color: #2e3a59; /* Deep blue color */
    color: #fff;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    position: relative;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/* Footer */